<div class="post-social-links social-links">
    <h4 class="social-links-header">Like this? Tell your friends!&nbsp;&nbsp;&rarr;</h4>
    <a class="social-link social-link-fb" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute=true}}"
        title="Facebook" target="_blank" rel="noopener">{{> "icons/facebook"}}</a>
    <a class="social-link social-link-tw"
        href="https://twitter.com/share?text=%22{{encode title}}%22%20%E2%80%95{{encode " @muchBetterAdven"}}&amp;url={{url absolute=true}}"
        title="Twitter" target="_blank" rel="noopener">{{> "icons/twitter"}}</a>
    <a class="social-link social-link-mail"
        href="mailto:?subject={{encode title}}&body={{encode title}}{{encode ": "}}{{url absolute=true}}"
        title="Email" target="_blank" rel="noopener">{{> "icons/mail"}}</a>
</div>