{{#get "tags" slug=secondary_tag include='count.posts' as |tag| }}
{{#tag}}
<h2>{{name}}</h2>
<p>{{description}} <a href='{{ url }}'>View all {{ count.posts }} posts &rarr;</a></p>
{{/tag}}
{{/get}}

<div class="post-feed">
    {{#get "posts" include="authors" filter="primary_tag:{{primary_tag}}+tags:{{secondary_tag}}" limit="3"}}
    {{#foreach posts}}
    {{> "post-card"}}
    {{/foreach}}
    {{/get}}
</div>