<div class="tag-section">
    {{#if show_header }}
    {{#get "tags" slug=secondary_tag include='count.posts' as |tag| }}
    {{#tag}}
    <div class="heading">
        <h2>{{name}}</h2>
        <div><a class="button primary" href='{{ url }}'>Read more &rarr;</a></div>
        <p class="lead">{{description}}</p>
    </div>
    {{/tag}}
    {{/get}}
    {{/if}}
    <div class="post-feed">
        {{#get "posts" include="authors,tags" filter="featured:false+primary_tag:{{primary_tag}}+tags:{{secondary_tag}}+tags:-[{{exclude_tag1}},{{exclude_tag2}}]"
        limit="3"}}
        {{#foreach posts}}
        {{> "post-card"}}
        {{/foreach}}
        {{/get}}
    </div>

    {{#if show_footer }}
    {{#get "tags" slug=secondary_tag include='count.posts' as |tag| }}
    {{#tag}}
    <div class="heading">
        <div>&nbsp;</div>
        <div><a class="button primary" href='{{ url }}'>Read more &rarr;</a></div>
    </div>
    {{/tag}}
    {{/get}}
    {{/if}}
</div>