<nav class="site-nav">
    {{#if @site.icon}}
    <a class="site-nav-icon" href="{{@site.url}}"><img src="{{@site.icon}}" alt="{{@site.title}}" /></a>
    {{/if}}
    <div class="site-nav-left-wrapper">
        <div class="site-nav-left">
            <div class="site-nav-content">
                {{#if @site.navigation}}
                {{navigation}}
                {{/if}}
            </div>
        </div>
    </div>
    <div class="site-nav-right">
        {{#if @site.secondary_navigation}}
        {{navigation type="secondary"}}
        {{/if}}
    </div>
</nav>