{{!< default}}

<header class="site-header">
    <div class="outer site-nav-main">
        <div class="inner">
            {{> "site-nav"}}
        </div>
    </div>
</header>

{{#post}}

<header class="site-archive-header">
    {{> site-header}}
    {{#if ../feature_image}}
    {{> header-background background=../feature_image}}
    {{ else }}
    {{> header-background background=feature_image}}
    {{/if}}
    {{!--Special header-image.hbs partial to generate the background image--}}
    <div class="inner site-header-content">
        <h1 class="site-title">{{title}}</h1>
        {{#if custom_excerpt}}
        <h2 class="site-description">
            {{custom_excerpt}}
        </h2>
        {{/if}}
    </div>
    </div>
</header>
<main id="site-main" class="site-main outer">
    <div class="inner posts">
        {{#get 'tags' limit='all' include='count.posts' order='count.posts desc' }}
        {{#foreach tags}}

        <h2>{{name}}</h2>
        <p>{{description}} <a href='{{ url }}'>View all {{ count.posts }} posts &rarr;</a></p>
        <div class="post-feed">
            {{#get "posts" include="authors" filter="featured:false+tag:{{slug}}" limit="3"}}
            {{#foreach posts}}
            {{> "post-card"}}
            {{/foreach}}
            {{/get}}
        </div>

        {{/foreach}}
        {{/get}}

    </div>
</main>

{{/post}}